[submodule "bashmarks/bashmarks"]
	path = bashmarks/bashmarks
	url = https://github.com/huyng/bashmarks.git
[submodule "dynamicaliases/src"]
	path = dynamicaliases/src
	url = https://github.com/Jearil/dynamicaliases.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
